*{
    margin: 0;
    padding: 0;
}

body{
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.container{
    margin: 15rem 0 0 40rem;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    perspective: 10000px;
}

.cube{
    transition: 2s;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
}

.face{
    position: absolute;
    text-align: center;
    height: 200px;
    width: 200px;
    font-size: 30px;
    line-height: 12rem;
    font-weight: 500;
}

#Front{
    background-color: orange;
    transform: translateZ(100px) rotateY(0deg);
    z-index: 5;
}

#Left{
    background-color: green;
    transform: translateX(-100px) rotateY(-90deg);
}

#Back{
    background-color: pink;
    transform:  translateZ(-100px) rotateY(-180deg);
}

#Right{
    background-color: yellow;
    transform: translateX(100px) rotateY(90deg);
}

#Top{
    background-color: red;
    transform:  translateY(-100px) rotateX(90deg);
}

#Bottom{
    background-color: blue;
    transform: translateY(100px) rotateX(-90deg);
}

.buttons{
    font-size: 6px;
    font-weight: 200;
    position: relative;
    margin: 5rem 0 0 25rem;
}

.button{
    padding: 0 1.5rem;
    margin: 0 1rem;
}